@-webkit-keyframes color-change-5x {
  0% {
    background: #06122e;
  }
  25% {
    background: #420303;
  }
  50% {
    background: #25062e;
  }
  75% {
    background: #0a1b31;
  }
  100% {
    background: #000000;
  }
}
@keyframes color-change-5x {
  0% {
    background: #06122e;
  }
  25% {
    background: #420303;
  }
  50% {
    background: #25062e;
  }
  75% {
    background: #0a1b31;
  }
  100% {
    background: #000000;
  }
}
#root {
  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
}
.color-change-5x {
  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
}
h5 {
  color: white;
}
label {
  color: rgba(255, 255, 255, 0.7);
}
h1 {
  color: white;
}
svg {
  vertical-align: sub;
}
